.button {
  padding: var(--sizing-sm) var(--sizing-md);
  border-radius: var(--radius);
  font-size: var(--font-size-sm);
  font-weight: 500;
  cursor: pointer;
  border: var(--border-width) solid transparent;
}

.button-primary {
  background-color: var(--color-button-primary-bg);
  border-color: var(--color-button-primary);
  color: var(--color-text-light);
}

.button-primary:hover {
  opacity: 0.9;
}

.button-secondary {
  background-color: var(--color-button-secondary);
  color: var(--color-text-light);
  border-color: var(--color-background-sidebar);
}

.button-secondary:hover {
  opacity: 0.9;
}

.button-delete {
  background-color: transparent;
  color: var(--color-button-primary);
  border-color: var(--color-button-primary);
}

.button-delete:hover {
  background-color: rgba(139, 58, 58, 0.1);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}