.friend-card {
  display: flex;
  flex-direction: column;
  min-width: 142px;
  background-color: var(--color-background-card);
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--radius);
  padding: var(--sizing-lg);
  box-shadow: var(--shadow);
}

.friend-card-header {
  display: flex;
  align-items: center;
  gap: var(--sizing-md);
  margin-bottom: var(--sizing-md);
}

.friend-card-name {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
}

.friend-card-details {
  margin-bottom: var(--sizing-md);
}

.friend-card-details p {
  margin-bottom: var(--sizing-xs);
  line-height: 1.5;
  font-size: var(--font-size-sm);
}

.friend-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.friend-card-actions button {
  padding: var(--sizing-sm);
}